*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    
}
header p{
    color: whitesmoke;
    
}

nav{
    padding: 3px;
    background-color: #f8ac07;
}

body{
   
    background: linear-gradient(to right, #fffb00a6, #ffffff);
    background-size: 100% 200%;
}

main{
    width: 100%;
    max-width: 420px;
    margin: auto;
    display: flex;
}

footer{
    background-color: #000000;
    bottom: 0;
}



.top{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 100%;
    
}

.top-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8800; 
    border-radius: 20px;
    width: 100%;
    max-width: 120px;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    transition: all 0.5s ease; 
}

.hidden {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

.dancing-script-fonte{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }


.style-links:hover img{
    color: #fff700;
    transform: scale(1.2);
}

.style-links{
    text-decoration: none;
    margin: auto;
}
.style-links img{
    width: 100%;
    max-width: 40px;
    margin-top: 20px;
    border: 10px;
}

.conteiner-principal{
    display: flex;
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; 
    z-index: 999; 
}

#content {
    color: white;
    font-size: 36px;
    cursor: pointer;
}

#socialContainer {
    transition: all 0.5s ease;
  }

  #showSocial {
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: auto;
   
  }
  
  #showSocial:hover {
    background-color: #b3a700;
  }


  #circle {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.082);
    border-radius: 50%;
    box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.068);
    position: absolute;
    pointer-events: none; /* to make sure the circle doesn't interfere with mouse events */
  }

  @media  and(max-width: 500px) {
    .top{
        width: 20%;
    }
  }