*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    
}
header p{
    color: whitesmoke;
    
}

nav{
    padding: 10px;
    background-color: #393e46;
}

body{
    background-color: rgb(241, 237, 0);
   
}

main{
    width: 100%;
    max-width: 420px;
    margin: auto;
    display: flex;
}

aside{
    background-color: whitesmoke;
    margin: 0 auto;
    position: absolute;
    right: 0;
    margin-right: 0;
    width: 50%;
    z-index: -1;
    
}
aside img{
    width: 100%;
}

footer{
    background-color: #000000;
    margin-bottom: 0px;
}



.top{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}


.dancing-script-fonte{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }

.footer-links{
    font-size: 30px;
    margin: auto;
}
.style-links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.style-links:hover{
    color: rgb(255, 247, 0);
    text-decoration: underline;
}