*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    
}
header p{
    color: whitesmoke;
    
}

nav{
    padding: 3px;
    background-color: #f8ac07;
}

body{
   
    background: linear-gradient(to right, white, yellow);
    background-size: 200% 100%;
    animation: gradient 3s linear infinite;
}

main{
    text-align: center;
    width: 100%;
    max-width: 420px;
    margin: auto;
    display: flex;
    background-color: rgba(246, 246, 246, 0.68);
    border-radius: 3px;
    box-shadow: 2px 3px 4px 2px;
}

footer{
    background-color: #000000;
    bottom: 0;
    text-align: center;
    margin-top:484px ;
}

.top{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 100%;
    
}

.top-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffee00; 
    border-radius: 0px;
    width: 100%;
    max-width: 120px;
    height: 100%;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    transition: all 3.0s ease; 
}




.hidden {
    height: 0;
    overflow: hidden;
    transition: height 3.5s ease;
  }

  .hidden :hover{
    background-color: #000000;
  }

.dancing-script-fonte{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }


.style-links:hover img{
    color: #fff700;
    transform: scale(1.2);
    transition: all 0.5s ease;
    
}



.style-links{
    text-decoration: none;
    margin: auto;
}

.style-links img{
    width: 100%;
    max-width: 40px;
    margin-top: 20px;
    border: 10px;
    transition: transform 0.3s ease;
}

.conteiner-principal{
    display: flex;
    margin-top: 20px;
}


.aside1{
    text-align: center;
    width: 100%;
    max-width: 420px;
    margin: auto;
    background-color: rgba(246, 246, 246, 0.68);
    border-radius: 3px;
    box-shadow: 2px 3px 4px 2px;
}

.aside2{
    text-align: center;
    
    width: 100%;
    max-width: 420px;
    margin: auto;
    
    background-color: rgba(246, 246, 246, 0.68);
    border-radius: 3px;
    box-shadow: 2px 3px 4px 2px;
   
}

.zoom{
    transition: all 0.3s ease;  
}

.zoom:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.aside2-imagem{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.aside2-imagem img{
    width: 100%;
    max-width: 80px;
}

.aside2-imagem a{
    text-decoration: none;
    color: black;
}




#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; 
    z-index: 999; 
}

#content {
    color: white;
    font-size: 36px;
    cursor: pointer;
}

#socialContainer {
    transition: all 0.5s ease;
    
  }

  #showSocial {
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
   
  }
  
  #showSocial:hover {
    background-color: #b3a700;
  }


  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media  screen and (max-width: 920px){
    
    .conteiner-principal{
        display: flex;
        flex-direction: column;
    }

    .aside2{
        margin-top: 50px;
    }
    
    
}